%{

PhotoGalleryPlugin's bulk upload skin extension for the PatternSkin.

This adds a DropzoneJS upload form to allow for batch uploads of many files.

}%
%TMPL:INCLUDE{"attach"}%
%TMPL:DEF{"bulkupload"}%%JQREQUIRE{"ui::tooltip,ui::resizable,ui::progressbar,scrollto,blockui"}%%ADDTOZONE{
    "script" id="dropzonejs-js" requires="JQUERYPLUGIN"
    text="<script type=\"text/javascript\" src=\"%PUBURLPATH%/%SYSTEMWEB%/PhotoGalleryPlugin/dropzone.compressed.js\"></script>"
}%%ADDTOZONE{
    "script" id="bulkuploadskin-js" requires="dropzonejs-js,JavascriptFiles/strikeone"
    text="<script type=\"text/javascript\" src=\"%PUBURLPATH%/%SYSTEMWEB%/PhotoGalleryPlugin/bulkuploadskin.compressed.js\"></script>"
}%%ADDTOZONE{
    "head" id="dropzonejs-css" requires="JQUERYPLUGIN::THEME"
    text="<link type=\"text/css\" rel=\"stylesheet\" href=\"%PUBURLPATH%/%SYSTEMWEB%/PhotoGalleryPlugin/dropzone.compressed.css\"/>"
}%%ADDTOZONE{
    "head" id="bulkuploadskin-css" requires="dropzonejs-css"
    text="<link type=\"text/css\" rel=\"stylesheet\" href=\"%PUBURLPATH%/%SYSTEMWEB%/PhotoGalleryPlugin/bulkuploadskin.compressed.css\"/>"
}%<div class="dropZoneContainer" style="display: none;" data-filesizelimit="%IF{"$ATTACHFILESIZELIMIT > 0" then="%ATTACHFILESIZELIMIT%" else="0"}%">
%TWISTY{id="bulkuploadhelp" link="<b>%MAKETEXT{"Help"}%</b>" mode="div" showimgleft="%ICONURLPATH{toggleopen}%"
hideimgleft="%ICONURLPATH{toggleclose}%"
}%
   * (Dragging from you system's file explorer) drop files in the white box below to add them to the upload queue.
   * Alternatively, click the <img src="%PUBURLPATH%/%SYSTEMWEB%/FamFamFamSilkIcons/add.png"/> _Add_ button to open a file selection dialog. Select one or more files in the dialog to add them to the upload queue.
   * Use the <img src="%PUBURLPATH%/%SYSTEMWEB%/FamFamFamSilkIcons/delete.png"/> _Clear_ button to clear all files from the upload queue.
   * Click the <img src="%PUBURLPATH%/%SYSTEMWEB%/FamFamFamSilkIcons/tick.png"/> _Upload_ button to start uploading all new files in the queue.
   * While uploading, click the <img src="%PUBURLPATH%/%SYSTEMWEB%/FamFamFamSilkIcons/cross.png"/> _Cancel_ button to cancel pending uploads.
   * Files in the upload queue can be removed by clicking their <img src="%PUBURLPATH%/%SYSTEMWEB%/FamFamFamSilkIcons/delete.png"/> icon.
   * The attachment comment and properties are set per file in the queue when adding/dropping the file. To change these select a file in the queue by clicking its filename and then adjust the comment and properties.
%ENDTWISTY%<div class="dropZoneDict dropZoneDictFileTooBig">%MAKETEXT{"File is too big ({{filesize}}MB). Max filesize: {{maxFilesize}}MB."}%</div>
<div class="dropZoneDict dropZoneDictRemoveFile">%MAKETEXT{"Remove from queue."}%</div>
<div class="foswikiInputField dropZoneFilesResize"><div class="dropZoneFiles"><div class="dz-message"><span class="dropZoneDictDefaultMessage">%MAKETEXT{"Drop up to {{maxnumfiles}} files here (up to {{maxfilesize}} each)."}%</span></div></div></div>
<div class="dropZoneActions">%BUTTON{
    "%MAKETEXT{"Add"}%"     icon="add"    class="dropZoneActionAdd"    title="%MAKETEXT{"Add files to the upload queue."}%"
}%%BUTTON{
    "%MAKETEXT{"Clear"}%"   icon="delete" class="dropZoneActionClear"  title="%MAKETEXT{"Clear upload queue."}%"
}%%BUTTON{
    "%MAKETEXT{"Upload"}%"  icon="tick"   class="dropZoneActionUpload" title="%MAKETEXT{"Start uploading all files in the queue."}%"
}%%BUTTON{
    "%MAKETEXT{"Cancel"}%"  icon="cross"  class="dropZoneActionCancel" title="%MAKETEXT{"Cancel pending uploads."}%"
}%<div class="dropZoneUploadProgress"><div class="dropZoneUploadProgressLabel"></div></div>
</div>
</div>%TMPL:END%%TMPL:P{"bulkupload"}%
