%{

PhotoGalleryPlugin skin extension for the PatternSkin.

This extends the "properties" section in the attach.pattern.tmpl.

This will work once https://foswiki.org/Tasks/Item14092 is in.

}%
%TMPL:INCLUDE{"attach"}%

%TMPL:DEF{"properties::content"}%%TMPL:PREV%
%TMPL:P{"properties::exifrotateimage"}%
%TMPL:P{"properties::setexifdate"}%
%TMPL:END%

%TMPL:DEF{"properties::exifrotateimage"}%
<input type="checkbox" checked="checked" class="foswikiCheckbox" id="exifrotateimage" name="exifrotateimage"/> <label for="exifrotateimage">%MAKETEXT{"Rotate JPEG images based on EXIF tags (using <code>exiftran</code>)."}%</label> <span class="foswikiGrayText">%MAKETEXT{"JPEG images will be rotated losslessly if their orientation can be determined."}%</span>%TMPL:END%

%TMPL:DEF{"properties::setexifdate"}%
<input type="checkbox" checked="checked" class="foswikiCheckbox" id="setexifdate" name="setexifdate"/> <label for="setexifdate">%MAKETEXT{"Set file upload date to EXIF exposure date for JPEG images."}%</label> <span class="foswikiGrayText">%MAKETEXT{"The upload date will be set to the exposure time if that is available in JPEG images."}%</span>%TMPL:END%

%{ eof }%
