/* PhotoGalleryPlugin DropzoneJS Foswiki integration stylesheet */

.foswikiFormStep p:empty { margin: 0; }

div.dropZoneContainer {
    min-width: 40em; overflow: hidden; }
div.dropZoneFilesResize {
    height: 20em; padding: 0; }
div.dropZoneFiles {
    height: 100%; overflow-y: auto; padding: 0.25em; }
div.dropZoneUploadProgress {
    position: relative; height: 1.4em; line-height: 1.4em; display: inline-block;
    width: calc(100% - (3 * 7em)); float: right; }
div.dropZoneUploadProgressLabel {
    position: absolute; width: 100%; text-align: center;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
div.dropZoneActions {
    margin-top: 0.25em; }
.dropZoneActionAdd, .dropZoneActionClear, .dropZoneActionUpload, .dropZoneActionCancel {
    width: 6em; overflow: hidden; text-overflow: ellipsis; margin: 0 0.25em 0 0;
    padding: 0.05em 0.25em; line-height: 1.4em; height: 1.4em; display: inline-block;
    text-align: center; }
.dropZoneActionDisabled { opacity: 0.5; }

.dropZoneTooltip/*.error*/ { max-width: 30em; }
.dropZoneDict { display: none; }
.dropZoneFileName { font-weight: bold; }

.foswikiAttachments .bulkUploadHighlight td { background-color: hsl(50, 100%, 90%) !important /*thanks, PatternSkinTheme/colors.css */; }


.dropzone { cursor: default; }
.dropzone .dz-message { text-align: center; height: 100%; width: 100%; display: table; }
.dropzone .dz-message span { font-size: 125%; font-weight: bold; color: #aaa; vertical-align: middle; display: table-cell; }
.dropzone.dz-started .dz-message { display: none; }

.dropzone .dz-preview {
    display: block; width: 100%; box-sizing: border-box; position: relative;
    margin: 0 0 0.25em 0; padding-left: calc(16px + 0.5em); overflow: hidden; line-height: 1.0em; }
.dropzone .dz-preview .dz-image { display: none; }

.dropzone .dz-preview .dz-filename,
.dropzone .dz-preview .dz-size,
.dropzone .dz-preview .dz-progress,
.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone .dz-preview.dz-error   .dz-error-mark,
.dropzone .dz-preview .dz-remove,
.dropzone .dz-preview .dropZoneForm {
    display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
    line-height: 1.2em; margin: 0; }

.dropzone .dz-preview .dz-remove { color: transparent; }
.dropzone .dz-preview .dz-remove:hover { text-decoration: none; }

.dropzone .dz-preview .dz-filename     { width: calc(100% - 21.6em - 16px - 16px); padding: 0 0.25em; }
.dropzone .dz-preview .dz-size         { width:  6em; padding: 0 0.25em; text-align: right; }
.dropzone .dz-preview .dz-progress     { width: 15em; height: 1.0em; margin: 0.2em 0.1em; }
.dropzone .dz-preview .dz-remove,
.dropzone .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark { width: 16px; height: 16px; margin-left: 0.1em; height: 1.2em; }
.dropzone .dz-preview .dropZoneForm    { width: 100%; }
.dropzone .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark { top: unset; left: unset; position: unset; margin-left: 0.1em; }
.dropzone .dz-preview                  { background-color: hsl(210, 100%, 98%); border: 0.1em solid hsl(210, 100%, 80%); }
.dropzone .dz-preview:hover            { background-color: hsl(210, 100%, 90%); }
.dropzone .dz-preview.dz-success       { background-color: hsl(125, 60%, 85%); }
.dropzone .dz-preview.dz-success:hover { background-color: hsl(125, 60%, 75%); }
.dropzone .dz-preview.dz-error         { background-color: hsl(  0, 60%, 85%); }
.dropzone .dz-preview.dz-error:hover   { background-color: hsl(  0, 60%, 75%); }

.dropzone .dz-preview .dz-size strong,
.dropZoneUploadProgressLabel strong { font-weight: normal; }
.dropZoneErrorMessage { text-align: center; line-height: 1.1em; color: hsl(0, 100%, 30%); }

.dropzone .dz-preview                        .dz-remove,
.dropzone .dz-preview.dz-complete.dz-success .dz-remove,
.dropzone .dz-preview.dz-complete.dz-error   .dz-remove       { background-image: url('../FamFamFamSilkIcons/delete.png'); }
.dropzone .dz-preview.dz-processing          .dz-remove       { background-image: url('../FamFamFamSilkIcons/cancel.png'); }
.dropzone .dz-preview                        .dz-success-mark { background-image: url('../FamFamFamSilkIcons/accept.png'); }
.dropzone .dz-preview                        .dz-error-mark   { background-image: url('../FamFamFamSilkIcons/exclamation.png'); }


label.dropZoneAttrCb.checkbox input                       { display: none; }
label.dropZoneAttrCb.checkbox input         + span        { display: inline-block; line-height: 0.9em; vertical-align: top; }
label.dropZoneAttrCb.checkbox input         + span:before { content: '\00b7'; }
label.dropZoneAttrCb.checkbox input:checked + span:before { content: '\2714'; }
label.dropZoneAttrCb.checkbox { line-height: 1.1em;
    cursor: pointer; white-space: nowrap; border: 0.1em solid hsl(0, 0%, 70%); display: inline-block;
    width: 1.1em; height: 1.1em; min-height: 1.1em; max-height: 1.1em; margin-left: 0.2em; text-align: center; }
label.dropZoneAttrCb.checkbox:hover { border: 0.1em solid hsl(0, 0%, 40%); }
label.dropZoneAttrCb.dropZoneAttrCbNotAvail { border-style: dotted; cursor: no-drop; }
label.dropZoneAttrCb.dropZoneAttrCbNotAvail input + span:before { content: ''; }

.dropZoneForm input.comment, input.dropZoneFileName {
    border: unset; border-radius: unset; background-color: transparent;
    box-sizing: content-box; height: 1.2em; line-height: 1.2em; font-size: 1.0em;
 padding: 0 0.15em 0.05em 0.15em; vertical-align: text-bottom; box-shadow: unset; }
.dropZoneForm input.comment { margin: 0 0 0 0.25em; }
input.dropZoneFileName { width: 100%; }
.dropZoneForm input.comment:hover,
.dropZoneForm input.comment:active,
.dropZoneForm input.comment:focus,
input.dropZoneFileName:hover,
input.dropZoneFileName:active,
input.dropZoneFileName:focus { background-color: hsl(210, 100%, 98%); box-shadow: unset; }
input.dropZoneFileName[readonly],        .dropZoneForm input.comment[readonly],
input.dropZoneFileName[readonly]:hover,  .dropZoneForm input.comment[readonly]:hover,
input.dropZoneFileName[readonly]:active, .dropZoneForm input.comment[readonly]:active,
input.dropZoneFileName[readonly]:focus,  .dropZoneForm input.comment[readonly]:focus {
    background-color: transparent; border-color: unset; box-shadow: none; color: unset; }
.dz-preview.dz-processing, .dz-preview.dz-complete,
.dz-preview.dz-processing label.dropZoneAttrCb.checkbox,
.dz-preview.dz-complete   label.dropZoneAttrCb.checkbox { cursor: default; }
.dropZoneFileSortHandle { width: calc(0.5em + 16px); height: 100%; display: inline-block;
    box-sizing: content-box; position: absolute; left: 0; top: 0;
    background-image: url('../FamFamFamSilkIcons/attach.png'); background-position: 0.25em 50%; background-repeat: no-repeat; }

.dropZoneSortable .dropZoneFileSortHandle { cursor: grab; }
.dropZoneSortable .dropZoneFileSortHandle:hover { background-color: hsl(210, 100%, 80%); }

.bulkuploadAttActions {  }
.bulkuploadAttActions .foswikiIcon { border: 0.2em solid transparent; cursor: pointer; }
.bulkuploadAttActions .foswikiIcon:hover { border-color: #dadada; }

/* eof */
